.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 30px 31px 13px;
  background: #E5E5E5;
}

.footer:before{
  position: absolute;
  content: " ";
  background-color: rgba(1, 23, 10, 0.1);
  width: 1380px;
  height: 2px;
  left: 30px;
  opacity: 0.3;
}

.footer:hover:before{
  opacity: 1;
};

.footer-info {
  display: flex;
}

.footer-info-copyright {
  margin: 0;
  padding-top: 34px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 16.44px;
}

.footer-info-confidential {
  padding-top: 34px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  margin: 0 0 0 26px;
  line-height: 16.44px;
  text-decoration: underline;
}

.footer__social-list {
  display: flex;
  position: relative;
  margin: 0;
  padding: 25px 19px 0 0;
  list-style-type: none;
}

.footer__social-item {
  margin-left: 20px;
  width: 32px;
  height: 32px;
}

.footer__social-item:nth-child(1) {
  margin: 0;
}


.footer__social-item--pinterest {
  background: url('../../footer-pictures/bg -pinterest.svg') no-repeat;
}

.footer__social-item--fb {
  background: url('../../footer-pictures/bg -fb.svg') no-repeat;
}

.footer__social-item--youtube {
  background: url('../../footer-pictures/bg-youtube.svg') no-repeat;
}

.footer__social-item--inst {
  background: url('../../footer-pictures/bg-inst.svg') no-repeat;
}

.footer__social-item--pinterest-icon {
  position: absolute;
  bottom: 9px;
  right: 182px;
}

.footer__social-item--fb-icon {
  position: absolute;
  bottom: 9px;
  right: 132px;
}

.footer__social-item--fb-icon {
  position: absolute;
  bottom: 9px;
  right: 132px;
}

.footer__social-item--youtube-icon {
  position: absolute;
  bottom: 9px;
  right: 79px;
}

.footer__social-item--inst-icon {
  position: absolute;
  bottom: 9px;
  right: 27px;
}
