.menu__component {
  box-sizing: border-box;
  width: 534px;
  //height: 344px;
  border-radius: 10px;
  background-color: #61dafb;
}

.menu__component-course {
  border-radius: 10px;
  background-color: chartreuse;
}

.menu__component-holiday {
  border-radius: 10px;
  background-color: darkgrey;
}

.menu__component-mailing {
  border-radius: 10px;
  background-color: bisque;
}

.menu__component-with-out-photo {
  box-sizing: border-box;
  padding: 19px;
  width: 252px;
  height: 152px;
  font-family: Raleway, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
  border-radius: 10px;
  background-color: burlywood;
  stroke-width: 1px;
  stroke: #31B768;
  //fill: #FFFFFF;
}

.menu__component-with-out-photo:nth-child(3n) {
  background-color: red;
}

.menu__component-title {
  margin: 0;
  font-family: Raleway, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.4px;
}

.menu__component-text {
  margin: 8px 0 0 0;
  font-family: Raleway, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.9px;
  overflow-wrap: break-word;
}

.menu__component-link {
  margin-left: 53px;
  font-family: Raleway, serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 14.09px;
}

.menu__component-with-out-photo-info-container {
  display: grid;
  margin-top: 28px;
}

.menu__component-with-small-photo-info-container {
  display: grid;
  margin-top: 17px;
}

.menu__component-photo-info-container {
  display: grid;
}

.menu__component-info {

  grid-row: 1 / 2;

}

.menu__component-with-small-photo {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: darkorange;
}

.menu__component-text-block-small-photo {
  padding: 7px 18px 18px 18px;
}

.menu__component-text-block {
  display: grid;
  padding: 7px 19px 0 19px;
}

.menu__component-photo-info-container {
  margin-top: 18px;
  padding-right: 279px;
}

.menu__component-info {
  grid-row: 1 / 2;
}

.menu__component-course {
  padding: 22px 97px 0 21px;
  background: url(../../../public/menu-pictures/detox.png) no-repeat center center;
}

.menu__component-course-title {
  margin: 0 0 47px 0;
  font-family: Railway, serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 23.4px;
}

.menu__component-course-link {
  font-size: 12px;
}

.menu__component-holiday > .menu__component-container-photo {
  padding: 10px;
}

.menu__component-holiday-text-block {
  padding: 2px 0 0 42px;
}

.menu__component-holiday-text {
  margin: 13px 0 21px 8px;
  font-size: 14px;
}

.menu__component-mailing > .menu__component-container-photo {
  padding: 10px;
}

.menu__component-mailing-subscription {

}

.menu__component-mailing-text-block {
  padding-left: 40px;
}

.menu__component-mailing-title {
  margin: 4px 0 0 0;
  font-size: 17px;
}

.menu__component-mailing-title-first {
  margin: 0 0 0 31px;
}

.menu__component-mailing-title-second {
  margin: 10px 0 0 8px;
}

.menu__component-mailing-text {
  margin: 14px 8px 0 0;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.9px;
}

.menu__component-mailing-form {
  display: grid;
  padding: 9px 30px 0 13px;
}

.menu__component-mailing-input {
  margin-top: 13px;
  padding: 12px 67px 12px 12px;
  border-radius: 5px;
  border-color: #FFFFFF;
}

.menu__component-mailing-button {
  margin-top: 9px;
  padding: 12px 67px;
  border-radius: 5px;
  border-color: #31B768;
  background-color: #31B768;
  font-weight: 600;
  font-size: 12px;
  line-height: 14.09px;
  color: #FFFFFF;
}

.menu-button {
  width: 252px;
  height: 58px;
  border-radius: 10px;
  border-color: #FFFFFF;
  background-color: #31B768;
  font-family: Raleway, serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18.78px;
  color: #FFFFFF;
}

.menu__component-info {
  display: flex;
  align-items: center;
}

.icon-heart {
  background: url(/../src/icons/icon-heart.svg) no-repeat center center;
  width: 14px;
  height: 19px;
}

.icon-time {
  background: url(/../src/icons/icon-timer.svg) no-repeat;
  margin-left: 14px;
  width: 14px;
  height: 19px;
}

.icon-energy {
  background: url(/../src/icons/icon-energy.svg) no-repeat;
  width: 14px;
  height: 19px;
}

.likes {
  margin-left: 7px;
}
