
.header {
  display: flex;
  justify-content: space-around;
  background-color: #E5E5E5;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header__container {
  display: grid;
  grid-template-rows: 344px 100px;
}


