
.header {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  background-color: #E5E5E5;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header__container {
  display: grid;
  grid-template-rows: 344px 100px;
}

//.header__presentation {
//  float: right;
//  padding-top: 106px;
//  //padding-left: 60px;
//  width: 1098px;
//  height: 344px;
//  background-size: 1098px, auto;
//  border-radius: 10px;
//  background: url(../../header-pictures/pic.jpg) no-repeat;
//}
//
//.header__presentation-title {
//  margin: 0 0 0 60px;
//  font-family: Raleway, sans-serif;
//  font-style: normal;
//  font-weight: 500;
//  font-size: 26px;
//}
//
//.header__presentation-text {
//  margin: 20px 0 0 60px;
//  font-family: Raleway, sans-serif;
//  font-style: normal;
//  font-weight: 400;
//  font-size: 16px;
//}
//
//.header__form {
//  position: absolute;
//  top: 314px;
//  right: 486px;
//}
//
//.header__form-container {
//  display: inline-block;
//  position: relative;
//  padding-left: 10px;
//  margin-bottom: 12px;
//  cursor: pointer;
//  font-size: 22px;
//}
//
//.header__form-input {
//  background-color: #E8E8EB;
//}
//
//.header__form-input:checked {
//  background-color: #31B768;
//}
//
//.header__form-container-checkmark {
//
//}

.header__sort {
padding-top: 50px;
}

.header__sort-simple {
padding-top: 30px;
}

.header__sort-title {
  display: inline-block;
}

.header__sort-button {
  margin-left: 20px;
  height: 40px;
  width: 137px;
  background-size: 1px;
  border-radius: 5px;
  border-color: #31B768;
}

.header__sort-input {
  margin-left: 205px;
  height: 40px;
  width: 280px;
  background-size: 1px;
  border-radius: 5px;
  border-color: #31B768;
}

.header__sort-input:checked {
  background-color: #31B768;
}

.header__sort-teg {
  margin-left: 20px;
  height: 34px;
  width: 70px;
  background-size: 1px;
  border-radius: 5px;
  border-color: #31B768;
}

.header__sort-special {
  padding-bottom: 50px;
}

.teg12 {
  margin-top: 14px;
  margin-left: 20px;
  height: 34px;
  width: 118px;
}

.teg13 {
  margin-top: 14px;
  margin-left: 20px;
  height: 34px;
  width: 138px;
}

