.sort__on {
  margin-left: 16px;
  padding: 12px 20px;
  border-style: solid;
  background-size: 1px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #31B768;
  font-family: Raleway, serif;
  font-size: 16px;
  line-height: 16.44px;
}
