.header__sort-on-container {
  position: relative;
padding-left: 31px;
}

.header__sort-on-title {
  margin: 0;
  display: inline-block;
  font-family: Raleway, serif;
  font-size: 15px;
  line-height: 16.44px;
}

.header__sort-input {
  margin-left: 302px;
  padding: 0 0 0 15px;
  height: 40px;
  width: 235px;
  border-style: solid;
  background-size: 1px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #31B768;
}

.header__sort-input-pic {
  position: absolute;
  bottom: 13px;
  right: 65px;
}
