.header__aside {
  display: inline-block;
  float: left;
  width: 252px;
  height: 536px;
  padding-top: 68px;
  padding-left: 39px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.header__aside-container {
  padding-top: 45px;
}

.header__aside-text {
  margin-top: 20px;
}
.header__aside-text:first-child {
  margin-top: 0;
}
