.header__aside {
  display: inline-block;
  float: left;
  width: 252px;
  height: 536px;
  padding-top: 40px;
  padding-left: 30px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.header__aside-container {

}

.header__aside-text {
  margin-top: 20px;
}
.header__aside-text:first-child {
  margin-top: 48px;
}

