
.header__presentation {
  position: relative;
  float: right;
  padding-top: 134px;
  padding-left: 81px;
  width: 1098px;
  height: 344px;
  background-size: 1098px, auto;
  border-radius: 10px;
  background: url(../../header-pictures/pic.png) no-repeat;
}

.header__presentation-title {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 33.8px;
}

.header__presentation-text {
  margin: 20px 0 0 0;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.header__form {
  position: absolute;
  bottom: 112px;
  right: 545px;
}

.header__form-container {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.header__form-input {
  background-color: #E8E8EB;
}

.header__form-input:checked {
  background-color: #31B768;
}

.header__form-container-checkmark {

}
