
.header__presentation {
  position: relative;
  float: right;
  padding-top: 134px;
  padding-left: 81px;
  width: 1098px;
  height: 344px;
  background-size: 1098px, auto;
  border-radius: 10px;
  background: url(../../header-pictures/pic.png) no-repeat;
}

.header__presentation-title {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 33.8px;
}

.header__presentation-text {
  margin: 20px 0 0 0;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
}

.header__form {
  position: absolute;
  bottom: 113px;
  right: 558px;
}

.header__form-container {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.header__form-input {
  position: relative;
  margin: 0 0 0 8px;
  width: 10px;
  height: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.header__form-input:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #E8E8EB;
}

.header__form-input:checked:before {
  background-color: #31B768;
}

