
.header__sort {
  padding-top: 66px;
}

.header__sort-simple {
  padding-top: 30px;
}

.header__sort-title {
  display: inline-block;
}

.header__sort-input {
  margin-left: 205px;
  height: 40px;
  width: 242px;
  background-size: 1px;
  border-radius: 5px;
  border-color: #31B768;
}

//.header__sort-input:checked {
//  background-color: #31B768;
//}

.header__sort-teg {

}

.header__sort-special {
  padding-bottom: 50px;
}

