
.header__sort {
  padding-top: 61px;
}

.header__sort-simple {
  padding-top: 30px;
}

.header__sort-title {
  display: inline-block;
}

.header__sort-teg {

}

.header__sort-special {
  padding-bottom: 50px;
}

