
.header__sort-teg {
  padding: 10px 15px;
  margin-left: 16px;
  border-style: solid;
  background-size: 1px;
  border-radius: 5px;
  border-color: #31B768;
  font-family: Raleway, serif;
  font-size: 12px;
  line-height: 16.44px;
}
