
.header__sort-teg {
  padding: 10px 15px;
  margin-left: 18px;
  border-style: solid;
  background-size: 1px;
  border-width: 1px;
  border-radius: 5px;
  border-color: #31B768;
  font-family: Raleway, serif;
  font-size: 12px;
  line-height: 16.44px;
}

.header__sort-teg:nth-child(12n) {
  font-size: 14px;
}

.header__sort-teg:nth-child(13n) {
  margin: 10px 0 0 9px;
  padding-left: 15px;
  font-size: 13px;
}
